<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Learnify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <div class="container">
        <div class="header-left">
            <a href="/" class="logo">Learnify</a>
        </div>
        <div class="header-contents">
          <a href="about" class="header-about">About</a>
        </div>
        <div class="header-contents">
          <a href="#" class="create-playlist">Create</a>
        </div>
        <div class="header-contents">
          <a href="#" class="find">Find</a>
        </div>

        <div class="header-right">
          <a href="#" class="login">Login</a>
        </div>
      </div>
    </header>

    <div class="top-wrapper">
      <div class="container">
        <h1>LEARN FASTER WITH LEARNIFY.</h1>
        <h1>LEARN EVERYTHING ONELINE.</h1>
        <p>Learnify encourages you to self-learn online.</p>
        <p>Follow other people's link-list to learn faster and more efficiently.</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">Sign Up</a>
          <p>or sign up with</p>
          <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Sign up using Facebook</a>
          <a href="#" class="btn google"><span class="fa fa-google"></span>Sign up using Google</a>
        </div>
      </div>
    </div>

    <div class="feature-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Learn by going through only useful links!</h2>
        </div>

        <div class="features">

          <div class="feature-icon">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <p class="txt-contents">
                Learn anything you want from the list of useful URL that other people had created for you.
            </p>
          </div>

          <div class="feature-icon">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p class="txt-contents">
                Create your own list and share with others to get upvoted.
            </p>
          </div>

          <div class="feature-icon">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <p class="txt-contents">
                Not just learn, learn efficiently
            </p>
          </div>

        </div>

      </div>
    </div>

    <div class="playlist-sample">
        <div class="container">
            <div class="heading">
                <h2>The world most efficient research based self-learning system</h2>
            </div>
            <div class="card">
                <h5 class="card-header">Sample Playlist</h5>
              <div class="card-body">
                <h4 class="card-title">Learning AI in 1 hour</h4>
                <p class="card-text">15 useful links in this playlist!</p>
                <a href="#" class="btn btn-primary">Learn from this list</a>
              </div>
            </div>
        </div>
    </div>


    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>Sign up and start learning with us!</h2>
          <h3>Let's learn to code, learn to be creative!</h3>
        </div>
        <span class="btn message">Learn with Learnify</span>
      </div>
    </div>

    <footer>
      <div class="container">
        <a href="/" class="footer-logo">Learnify</a>
        <p>Learn to code, learn to be creative.</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
